name: Check for new events

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install requests beautifulsoup4

      - name: Run monitor script
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
        run: python monitor.py

      # Commit & push امن با Action آماده
      - name: Commit updated events
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update events
          file_pattern: events.json
          branch: main
          push: true
